.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.square {
    border: 1px solid black;
    width: 25px;
    height: 25px;
}

.square:hover {
    background-color: #2b2d42;
}